/*START font-face roboto*/

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Light.eot');
    src: url('../font/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/roboto/Roboto-Light.woff2') format('woff2'),
        url('../font/roboto/Roboto-Light.woff') format('woff'),
        url('../font/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Regular.eot');
    src: url('../font/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../font/roboto/Roboto-Regular.woff') format('woff'),
        url('../font/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Medium.eot');
    src: url('../font/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/roboto/Roboto-Medium.woff2') format('woff2'),
        url('../font/roboto/Roboto-Medium.woff') format('woff'),
        url('../font/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Bold.eot');
    src: url('../font/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/roboto/Roboto-Bold.woff2') format('woff2'),
        url('../font/roboto/Roboto-Bold.woff') format('woff'),
        url('../font/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Black.eot');
    src: url('../font/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/roboto/Roboto-Black.woff2') format('woff2'),
        url('../font/roboto/Roboto-Black.woff') format('woff'),
        url('../font/roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/*END font-face roboto*/

/*START font-face Montserrat*/

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-Thin.eot');
    src: url('../font/montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/montserrat/Montserrat-Thin.woff2') format('woff2'),
        url('../font/montserrat/Montserrat-Thin.woff') format('woff'),
        url('../font/montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-Regular.eot');
    src: url('../font/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../font/montserrat/Montserrat-Regular.woff') format('woff'),
        url('../font/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-Medium.eot');
    src: url('../font/montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../font/montserrat/Montserrat-Medium.woff') format('woff'),
        url('../font/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-SemiBold.eot');
    src: url('../font/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../font/montserrat/Montserrat-SemiBold.woff') format('woff'),
        url('../font/montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-Light.eot');
    src: url('../font/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../font/montserrat/Montserrat-Light.woff') format('woff'),
        url('../font/montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-ExtraLight.eot');
    src: url('../font/montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../font/montserrat/Montserrat-ExtraLight.woff') format('woff'),
        url('../font/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-ExtraBold.eot');
    src: url('../font/montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../font/montserrat/Montserrat-ExtraBold.woff') format('woff'),
        url('../font/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-Bold.eot');
    src: url('../font/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../font/montserrat/Montserrat-Bold.woff') format('woff'),
        url('../font/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-Black.eot');
    src: url('../font/montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../font/montserrat/Montserrat-Black.woff') format('woff'),
        url('../font/montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/*END font-face Montserrat*/

/*START font-face Ubuntu Mono*/

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../font/ubuntu_mono/UbuntuMono-Bold.eot');
    src: url('../font/ubuntu_mono/UbuntuMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/ubuntu_mono/UbuntuMono-Bold.woff2') format('woff2'),
        url('../font/ubuntu_mono/UbuntuMono-Bold.woff') format('woff'),
        url('../font/ubuntu_mono/UbuntuMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../font/ubuntu_mono/UbuntuMono-Regular.eot');
    src: url('../font/ubuntu_mono/UbuntuMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/ubuntu_mono/UbuntuMono-Regular.woff2') format('woff2'),
        url('../font/ubuntu_mono/UbuntuMono-Regular.woff') format('woff'),
        url('../font/ubuntu_mono/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*END font-face Ubuntu Mono*/


/*START Global*/

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Montserrat,
        sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

#app {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.main {
    margin: 11.5vh 0 0 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.link-bold {
    font-weight: bold;
    color: #d92950;
}

.link-normal {
    color: #d92950;
}

.content-style-left {
    justify-content: start;
}

.content-style-between {
    justify-content: space-between;
}

.content-style-evenly {
    justify-content: space-evenly;
}

.content-style-center {
    justify-content: center;
}

.item-style-end {
    align-items: flex-end;
}

.item-style-top {
    align-items: flex-start;
}

.item-style-center {
    align-items: center;
}

.padding-left-right-2 {
    padding: 0 20px;
}

.padding-top-down-4 {
    padding: 40px 0;
}

.padding-top-down-5 {
    padding: 50px 0;
}

.padding-top-down-6 {
    padding: 60px 0;
}

.padding-top-down-10 {
    padding: 100px 0;
}

.margin-left-right-moins-70 {
    margin: 0 -70px;
}

.margin-left-right-20 {
    margin: 0 20px;
}

.margin-all-10 {
    margin: 10px;
}

.margin-all-40 {
    margin: 40px;
}

.margin-top-down-40 {
    padding: 0 0 40px 0;
}

.radius-all-10 {
    border-radius: 10px;
}

.padding-all-5 {
    padding: 50px;
}

.padding-all-4 {
    padding: 40px;
}

.padding-all-3 {
    padding: 30px;
}

.padding-all-2 {
    padding: 20px;
}

.padding-all-1 {
    padding: 10px;
}

/*END Global*/

/*START Bg-Color !*/

.bg-light {
    background-color: #ffffff;
}

.bg-red {
    background-color: #d92950;
}

.bg-red-light {
    background-color: #ea0000;
}

.bg-red-dark {
    background-color: #bf0051;
}

.bg-gray {
    background-color: #f1f0f3;
}

.bg-gray-30 {
    background-color: #dfdee1;
}

.bg-dark-gray-30 {
    background-color: #424345;
}

.bg-dark-gray-50 {
    background-color: #2d2d2d;
}

.bg-dark {
    background-color: #1d1b25;
}

.bg-purpele-dark {
    background-color: #331f40;
}

.bg-yellow {
    background-color: #ffe64d;
}

/*END Bg-Color*/

/*START Nav bar end Header*/

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 40px;
    color: #ffffff;
    font-weight: bold;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-bar ul li {
    padding: 10px;
}

.nav-bar a {
    text-decoration: none;
    color: #ffffff;
}

.nav-bar a:hover {
    border-bottom: solid 2px #ff046b;
    /* transition: all 0.2s ease-out; */
}

.nav-active {
    border-bottom: solid 2px #ff046b;
}

.my-header {
    height: 12vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
}

/*END Nav bar end Header*/

/*START img LOGO*/

.box-logo {
    padding-top: 5px;
}

.logo {
    width: 12%;
}

.logo-partners {
    width: 60%;
}

.img-works {
    width: 80%;
}

.iconify {
    width: 30%;
}

.iconify-min {
    width: 60%;
}

/*START img LOGO*/

/*START hero*/

.my-hero {
    height: 120vh;
    margin: 0 0 0 0;
    padding: 0 0 20vh 0;
    color: #ffffff;
    background-image: url("../img/hero-background.jpg");
    /* background-position: center; */
    background-size: cover;
}

.transform-text-main-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 4.5rem;
    padding: 15px 0;
}

.section-btn-hero {
    justify-content: center;
}

.section-btn-hero div {
    margin: 0 10px;
}

/*END hero*/
/*Start Form*/

.btn {
    text-decoration: none;
    border-width: 2px;
    border-radius: 15px;
    padding: 15px 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-border-light {
    border: solid 2px #ffffff;
}

.btn-border-red {
    border: solid 2px #d92950;
}

.btn-lg {
    font-size: 1.25rem;
    line-height: 1.5;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-out-line-light-hover:hover {
    background-color: rgba(217, 41, 80, 0);
    border: solid 2px #ffffff;
    color: #ffffff;
    transition: all 0.2s ease-out;
}

.btn-out-line-red-hover:hover {
    background-color: rgba(217, 41, 80, 0);
    border: solid 2px #d92950;
    color: #d92950;
    transition: all 0.2s ease-out;
}

.btn-out-line-red-text-light-hover:hover {
    background-color: rgba(217, 41, 80, 0);
    border: solid 2px #d92950;
    color: #ffffff;
    transition: all 0.2s ease-out;
}

.btn-out-line-red-2-hover:hover {
    background-color: rgba(217, 41, 80, 0);
    border: solid 2px #ffffff;
    color: #ffffff;
    transition: all 0.2s ease-out;
}

.form-input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    ;
}

/*END Form*/

.my-main {
    /* height: 50vh; */
    margin: 0;
    padding: 0;
}

.my-footer {
    height: 40vh;
    margin: 0;
    padding: 0;
}

/*START TEXT COLOR*/
.text-light {
    color: #ffffff;
}

.text-gold {
    color: #ffe64d;
}

.text-red {
    color: #d92950;
}

.text-dark-gray-30 {
    color: #424345;
}

.text-gray-50 {
    color: #dbdbdc;
}

.text-center {
    text-align: center;
}

.text-ubuntu-font {
    font-family: 'Ubuntu Mono';
    font-size: 1.3rem;
}

.text-bold {
    font-weight: bold;
}

.text-big-1 {
    font-size: 3rem;
}

.text-ul-spec {
    font-family: Montserrat,
        sans-serif;
}

/*END TEXT COLOR*/

/*START Block size*/

.block-55 {
    width: 55%;
    margin: 50px auto;
}

/*START Block techno*/

.bloc-techno ul {
    list-style-type: none;
    width: 80%;
}

.bloc-techno ul img {
    opacity: 0.5;
    width: 45%;
}

/*END Block techno*/

/*START Dev-qualifies*/

.bloc-dev-qualifies {
    margin: 80px 0 80px -100px;
}

.bloc-dev-qualifies h2 {
    width: 95%;
}

.bloc-dev-items {
    margin-top: -50px;
    margin-left: 80px;
}

.bloc-dev-items .dev-item {
    height: 30vh;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.paper {
    width: 50px;
}

.cup {
    width: 40px;
}

.bloc-bordered-1 {
    border: solid 1px #ffffff;
    padding: 8px 5px 0px 5px;
    height: 50px;
    width: 50px;
    margin: 0 40px;
}

.bloc-50-px {
    padding: 5px;
    height: 50px;
    width: 50px;
    margin: 10px -100px;
}

.bloc-50-px-min-width {
    padding: 5px;
    height: 50px;
    width: 50px;
    margin: 10px -50px;
}

/* .dev-item p {
    border-bottom: solid 2px #ea0000;
    padding-bottom: 20px;
    margin-bottom: -10px;
} */

.my-line {
    border-bottom: solid 2px #ea0000;
    width: 50px;
}

.img-back {
    width: 500px;
    border-radius: 5%;
    z-index: 2;
}

.img-befor {
    width: 300px;
    border-radius: 5%;
    z-index: 3;
    margin-top: -190px;
    margin-left: 270px;
}

.my-width-100 {
    width: 100%;
}

.my-width-93 {
    width: 93%;
}

.my-width-90 {
    width: 90%;
}

.my-width-80 {
    width: 80%;
}

.my-width-60 {
    width: 60%;
}

.my-width-50 {
    width: 50%;
}

.my-width-45 {
    width: 45%;
}

.my-width-40 {
    width: 40%;
}

.my-width-30 {
    width: 30%;
}

.my-width-20 {
    width: 20%;
}

.my-heigth-50 {
    height: 40vh;
}

/*END Dev-qualifies*/
/**/

.card-mini {
    padding: 30px 0;
    border-radius: 0 0 20px 20px;
}

.card-mini p {
    padding: 2px 30px;
}

.card-mini-border-top-red {
    border-top: solid 10px #d92950;
}

.card-mini-border-top-yellow {
    border-top: solid 10px #ffe64d;
}

.card {
    padding: 0 0;
    border-radius: 0 0 20px 20px;
}

.card-header {
    margin: 0 0 30px 0;
    padding: 15px;
}